*.log
.DS_Store
# Environment files
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.local
/.nova
/.phpunit.cache
/.vscode
/.zed
/.git_bak_*
/.pnpm-store
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/api-docs
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
